/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23 Dec, 2015, 3:23:39 PM
    Author     : anupamapanchal
*/


.calendar_view{
    margin:50px;
}
.week_view{

}
.day{
    border: 1px solid black;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}
.today{
    background-color: aquamarine;
    font-style: italic;
    font-weight: bold;
}